<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <style type="text/css">
            .tabla {
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size:12px;
                text-align: left;
                width: 800px;
            }

            .tabla th {
                padding: 5px;
                font-size: 16px;
                background-color: #83aec0;
                background-image: url(fondo_th.png);
                background-repeat: repeat-x;
                color: #FFFFFF;
                border-right-width: 1px;
                border-bottom-width: 1px;
                border-right-style: solid;
                border-bottom-style: solid;
                border-right-color: #558FA6;
                border-bottom-color: #558FA6;
                font-family: "Trebuchet MS", Arial;
                text-transform: uppercase;
                text-align: center;
            }

            .tabla .modo1 {
                font-size: 12px;
                font-weight:bold;
                background-color: #F2F3F4;
                background-image: url(fondo_tr01.png);
                background-repeat: repeat-x;
                color: #34484E;
                font-family: "Trebuchet MS", Arial;
            }

            .tabla .modo1 td {
                padding: 5px;
                border-right-width: 1px;
                border-bottom-width: 1px;
                border-right-style: solid;
                border-bottom-style: solid;
                border-right-color: #A4C4D0;
                border-bottom-color: #A4C4D0;
                text-align:left;
            }

            .tabla .modo1 th {
                background-image: url(fondo_tr01a.png);
                background-position: left top;
                font-size: 12px;
                font-weight:bold;
                text-align: left;
                background-color: #CACFD2;
                background-repeat: repeat-x;
                color: #34484E;
                font-family: "Trebuchet MS", Arial;
                border-right-width: 1px;
                border-bottom-width: 1px;
                border-right-style: solid;
                border-bottom-style: solid;
                border-right-color: #A4C4D0;
                border-bottom-color: #A4C4D0;
            }
            
            .num {
                width:30px; 
                text-align: right;
            }

        </style>

    </head>
    <body>   
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-3">Estimado(a): </h1>
                <h2 class="display-3">{{ nombreAlumno }}  {{ apellidoAlumno }} </h2>
                <p class="lead">Se le notifica el ingreso de Evaluacion de Queso a la plataforma: ACACULH, con la siguiente informacion: </p>
                <hr class="my-4">
                <br>
                <table class="tabla" border="0" cellpadding="0" cellspacing="0">

                    <tr>
                        <th colspan="4">Hoja de Evaluacion de Queso</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Criterio a Evaluar</th>
                        <th>Observaciones del Chef Evaluador</th>                    
                        <th>Nota</th>                    
                    </tr>
                    
                    <tr>
                        <th colspan="4">Conocimento del Tema</th>
                    </tr>
                    <tr class="modo1">
                        <th style="width: 10px;"  scope="row">1</th>
                        <td style="width: 60px;">Conocimento del Tema</td>
                        <td>{{ obsConocimiento }}</td> 
                        <td class="num" >{{ notaConocimiento }}%</td>
                    </tr>

                    <tr>
                        <th colspan="4">Presentacion</th>
                    </tr>
                    <tr class="modo1">
                        <th style="width: 10px;"  scope="row">2</th>
                        <td style="width: 60px;">Presentacion</td>
                        <td>{{ obsPresentacion }}</td> 
                        <td class="num" >{{ notaPresentacion }}%</td>
                    </tr>
                                        
                    <tr>
                        <th colspan="4">Reporte Escrito</th>
                    </tr>
                    <tr class="modo1">
                        <th scope="row">3</th>
                        <td>Reporte Escrito</td>
                        <td>{{ obsReporteEscrito }}</td>                    
                        <td class="num">{{ notaReporteEscrito }}%</td>                    
                    </tr>
                    
                    <tr>
                        <th colspan="4">Uniforme</th>
                    </tr>
                    <tr class="modo1">
                        <th scope="row">4</th>
                        <td>Uniforme</td>
                        <td>{{ obsUniforme }}</td>                    
                        <td class="num">{{ notaUniforme }}%</td>                    
                    </tr>
                    
                    <tr>
                        <th colspan="4">Degustacion</th>
                    </tr>
                    <tr class="modo1">
                        <th scope="row">5</th>
                        <td>Degustacion</td>
                        <td>{{ obsDegustacion }}</td>                    
                        <td class="num">{{ notaDegustacion }}%</td>                    
                    </tr>
                    
                    <tr>
                        <th>Nota Final</th>
                        <th colspan="2">{{ obsNotaFinal }}</th>
                        <th class="num">{{ notaNotaFinal }}%</th>
                    </tr>
                </table>

                <br>
                <h4> 
                    Saludos Cordiales.
                </h4>    

                <h5> 
                    Academia Culinaria de Honduras | ACACULH
                </h5>
                <p> 
                    <strong> Direccion: </strong> Colonia las Hadas,calle principal, casa 12 Tegucigalpa
                    <br>
                    <strong> Telefono:</strong> (+504) 2233-2458
                    <br>
                    <strong> Pagina Web: </strong> http://academiaculinaria.hn/
                </p>
            </div>
        </div>
    </body>
</html>
